{% extends "base.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/static/css/project.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/nav.css">
{% endblock %}

{% block content %}
    <nav>
      <a href="/">Главная</a>
      <a href="#" class="active">Добавить документ</a>
      <a href="/project/{{ project_id }}/documents">Документы</a>
      <a href="#">Дерево знаний</a>
    </nav>

    <h1 id="doc-title-display" class="editable-title" title="Нажмите дважды для редактирования">Новый документ 1</h1>
    <input id="doc-title" type="text" placeholder="Введите название документа..." style="display:none;" />

    <div class="form-section single-column">
        <div class="form-block full-width">
          <div class="editor-container">
              <div id="doc-text" contenteditable="true"></div>
          </div>
        </div>
    </div>

    <button id="toggleChat">Чат</button>
    <button id="saveDoc" data-project-id="{{ project_id }}">Сохранить документ</button>
    <button id="autoComplete" data-project-id="{{ project_id }}">Автодополнение</button>
    <div class="chat-sidebar hidden" id="chatSidebar">
        <div class="chat-messages" id="chat">
            <div class="message incoming system-message">
                Задайте вопрос по документации...
            </div>
        </div>
        <form class="chat-input" id="chatForm">
            <input type="text" id="chat-input" placeholder="Введите сообщение..." />
            <button type="submit" class="chat-button">Отправить</button>
        </form>
    </div>

    
    <script src="/static/js/project.js"></script>
{% endblock %}
